body{
	padding: 0;
	margin: 0;	
	width:100vw;
	height: 100vh;
	background: url("vg.png");
	background-repeat: no-repeat;
	background-size: cover;	
}
.panel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.question-container{
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	background-color: #4ea7c7;
	font-size: 44px;
	text-align: center;
	
}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 50px;
	
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 20vh;
	background-color: #9eb1b3;
		
}
.option{	
	padding: 10px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	background-color: #196e5e;
	border-radius: 25%;

}
.option:hover{
	background-color: #3eedcd;
}
.navigation{
	width: 80vw;
	height: 10vh;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color:#c7dddf;
}

.evaluate,.next{
	width:30vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
}
.evaluate{
	
	background-color: #147527;
}
.next{
	color: white;
	background-color: #6b3eb5;
}
